# 設定ファイル（APIキー等を含む場合）
config.json


# フォルダ
/docs/
/.vscode/
/php/
/php-mac/
/tubeinvestigation-ai/
/LP/stripe-php/
/LP/data/
/LP/api/

# PHPの依存関係や一時ファイル
/php/extras/ssl/openssl.cnf
*.log
.env
config.php
**/config.php
*.bak
*/.htaccess
.htaccess
# ビルド済みファイル
.exe
*.app
*.app.zip

# Mac/Apple specific files
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
